{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login | Segurança do Trabalho</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="container">

    <!-- Logo -->
    <div class="logo">
        <img src="{% static 'logo/Logo_da_Mococa.png' %}" alt="Logo">
    </div>

    <!-- Título -->
    <h1>Segurança do Trabalho</h1>
    <p class="subtitle">Sistema de Gestão de Rotas</p>

    <!-- Card -->
    <div class="card">

        <div class="secure">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check h-5 w-5"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"></path><path d="m9 12 2 2 4-4"></path></svg> <span>Acesso Seguro</span>
        </div>

        {% if form.errors %}
            <div class="error">
                Usuário ou senha inválidos.
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}

            <div class="field">
                <label>Email</label>
                {{ form.username }}
            </div>

            <div class="field">
                <label>Senha</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn">
                Entrar
            </button>
        </form>
    </div>

    <footer>
        © 2026 Mococa - Segurança do Trabalho
    </footer>

</div>

</body>
</html>